/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/resources/views/vendor/mail/html/button.blade.php
/resources/views/vendor/mail/text/button.blade.php
/resources/views/vendor/mail/html/themes/default.css
/resources/views/vendor/notifications/email.blade.php
/public/export.csv
/resources/views/vendor/mail/html/footer.blade.php
/resources/views/vendor/mail/text/footer.blade.php
/resources/views/vendor/mail/html/header.blade.php
/resources/views/vendor/mail/text/header.blade.php
/resources/views/vendor/mail/html/layout.blade.php
/resources/views/vendor/mail/text/layout.blade.php
/resources/views/vendor/mail/html/message.blade.php
/resources/views/vendor/mail/text/message.blade.php
/resources/views/vendor/mail/html/panel.blade.php
/resources/views/vendor/mail/text/panel.blade.php
/resources/views/vendor/mail/html/subcopy.blade.php
/resources/views/vendor/mail/text/subcopy.blade.php
/resources/views/vendor/mail/html/table.blade.php
/resources/views/vendor/mail/text/table.blade.php
